$color1: #BC1888;
$color2: #CC2366;
$color3: #DC2743;
$color4: #E6683C;
$color5: #F09433;

$gradient: $color1 0%, $color2 30%, $color3 65%, $color4 85%, $color5 100%;

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    @include gradient(top, $gradient);

    background-repeat: no-repeat;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.image {
        position: absolute;
        left: 50%;
        transform: translateX(-200px);
    
        width: 400px;
        height: 400px;
    
        overflow: hidden;
    
        z-index: 1;
    
        img { 
            width: 400px;
            height: 400px;
    
            object-fit: cover;
        }
    }

    > img {
        width: 400px;
        height: 400px;

        object-fit: cover;

        position: absolute;

    }
    
    input[type=range] {
        -webkit-appearance: none;
        outline: none;

        width: 415px;
        transform: translateY(200px);
    
        z-index: 1;

        cursor: pointer;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: white;
            height:15px;
            width: 15px;

            transform: rotate(45deg) translateY(-35%) translateX(-35%);

            border-radius: 2px;

        }

        &::-webkit-slider-runnable-track {
            height: 0;
        }
    }
}

@media(max-width: 480px) {
    #page {
        div.image {
            transform: translateX(-175px);
    
            width: 350px;
            height: 350px;

            img {
                width: 350px;
                height: 350px;
            }
        }

        > img {
            width: 350px;
            height: 350px;    
        }

        input[type=range] {
            width: 365px;
            transform: translateY(175px);
        }
    }
}