$color1: #BC1888;
$color2: #CC2366;
$color3: #DC2743;
$color4: #E6683C;
$color5: #F09433;

$gradient: $color1 0%, $color2 30%, $color3 65%, $color4 85%, $color5 100%;

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    font-family: Ubuntu, sans-serif;

    @include gradient(top, $gradient);
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    width: 400px;
    margin-bottom: 10px;

    color: rgba(255, 255, 255, .5);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.image {
        position: absolute;
        left: 50%;
        transform: translateX(-200px);
    
        width: 400px;
        height: 400px;
    
        overflow: hidden;
    
        z-index: 1;
    
        img { 
            width: 400px;
            height: 400px;
    
            object-fit: cover;
        }
    }

    > img {
        width: 400px;
        height: 400px;

        object-fit: cover;

        position: absolute;

    }
    
    input[type=range] {
        -webkit-appearance: none;
        outline: none;

        background: transparent;
        width: 415px;
        height: 400px;
    
        z-index: 1;

        cursor: pointer;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: white;
            height:15px;
            width: 15px;

            transform: rotate(45deg) translateY(910%) translateX(910%);

            justify-content: unset;

            border-radius: 2px;

        }

        &::-webkit-slider-runnable-track {
            height: 0;
        }
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 400px;

    margin-top: 18px;

    span {
        display: flex;

        width: 15px;
        height: 15px;

        &:nth-child(1) {
            background-image: url('../assets/arrow-left.svg');
        }
        
        &:nth-child(2) {
            background-image: url('../assets/arrow-right.svg');
        }
    }
}

footer {
    display: flex;

    position: absolute;
    bottom: 30px;
    right: 30px;

    a {
        display: flex;

        margin-left: 20px;

        color: white;

        text-decoration: none;

        cursor: pointer;

        span {
            display: flex;

            width: 20px;
            height: 20px;

            margin-right: 6px;
        }

        &:nth-child(1) span {
            background-image: url('../assets/github.svg');
        }
        
        &:nth-child(2) span {
            background-image: url('../assets/linkedin.svg');
        }
        
        &:nth-child(3) span {
            background-image: url('../assets/codepen-icon.svg');
        }
    }
}

@media(max-width: 480px) {
    .box {
        width: 350px;
    }

    .page {
        div.image {
            transform: translateX(-175px);
    
            width: 350px;
            height: 350px;

            img {
                width: 350px;
                height: 350px;
            }
        }

        > img {
            width: 350px;
            height: 350px;    
        }

        input[type=range] {
            height: 350px;
            width: 365px;

            &::-webkit-slider-thumb {
                transform: rotate(45deg) translateY(790%) translateX(790%);
            }
        }
    }

    .info {
        width: 350px;
    }
}

@media(max-width: 1100px) {
    footer {
        right: 50%;
        transform: translateX(47.5%);

        margin: 10px 0 0 0;
    }
}

@media(max-width: 320px) {
    .box {
        width: 200px;
    }

    .page {
        div.image {
            transform: translateX(-100px);
    
            width: 200px;
            height: 200px;

            img {
                width: 200px;
                height: 200px;
            }
        }

        > img {
            width: 200px;
            height: 200px;    
        }

        input[type=range] {
            height: 200px;
            width: 215px;

            &::-webkit-slider-thumb {
                background: transparent;
            }
        }
    }

    .info {
        width: 200px;
    }

    footer {
        display: none;
    }
}

@media(max-height: 560px) {
    footer {
        display: none;
    }
}